@use "variables";

@mixin safePadding($resolution) {
  @if $resolution == 320 {
    min-width: 320px;
    padding: 0 28px 0 25px;
  } @else if $resolution == 768 {
    padding: 41px 106px 0 92px;
  } @else if $resolution == 1200 {
    padding: 51px 215px 0 215px;
  } @else {
  }
}

@mixin centre($axis: "both") {
  @if $axis == "y" {
    margin: 0 auto;
  }
  @if $axis == "x" {
    margin: 0 auto;
  }
  @if $axis == "both" {
    margin: 0 auto;
  }
}
