@use "variables" as v;
@import "components/header";
@import "components/recent-posts";
@import "components/our-instagram";
@import "components/footer";

body {
  // position: relative;
  font-family: v.$mainFont;
  box-sizing: border-box;
}
