.App {
  text-align: center;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

section {
  margin: 60px 0;
}

button {
  box-sizing: border-box;
  padding: 6px;
  border-radius: 4px;
  margin: 0 15px;
  cursor: pointer;
  font-size: 22px;
  min-width: 41px;
  font-weight: 500;

  &:hover {
     filter: brightness(.85);
   }
}