:root {
  --clr-title: hsl(189, 82%, 44%);
  --clr-main: hsl(203, 14%, 30%);
  --clr-quote: hsl(0, 7%, 81%);
  --clr-copyright: hsl(0, 1%, 24%);
  --container-width: 992px;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Futura BT";
  src: url("../fonts/FuturaBT-Bold.woff2") format("woff2"),
    url("../fonts/FuturaBT-Bold.woff") format("woff"),
    url("../fonts/futura-bold-bt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.parallax__header {
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.parallax__header:before {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 80px solid white;
  border-left: 50vw solid transparent;
}

.parallax__header:after {
  content: " ";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 80px solid white;
  border-right: 50vw solid transparent;
}

.nav__wrap {
  position: relative;
  top: 25px;
  padding: 0 calc(50vw - var(--container-width) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-main);
  background-color: #fff;
}
.logo {
  margin: 38px 0 38px 0;
  display: inline-block;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
  text-decoration: none;
  color: var(--clr-main);
}
.logo span {
  font-family: "Open Sans";
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-title);
}
.nav {
  display: inline-block;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__list-item a {
  display: inline-block;
  padding-left: 70px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-main);
  transition: all 0.5s ease;
}
.nav__list-item a:hover {
  color: var(--clr-title);
  transition: all 0.3s ease;
}
.hero {
  margin-top: 149px;
  padding-bottom: 134px;
  text-align: center;
  font-family: "Futura BT";
  font-size: 52px;
  line-height: 75px;
  color: white;
  text-transform: uppercase;
}
.what {
}

.what_wrap {
  margin: 122px auto 20px auto;
  text-align: center;
  max-width: var(--container-width);
}

.section__title {
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  color: var(--clr-title);
  text-transform: uppercase;
}
.section__subtitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  color: white;
}
.black {
  color: var(--clr-main);
}

.section__text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--clr-main);
  text-align: center;
}
.companies {
}
.parallax__companies {
  position: relative;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.parallax__companies:before {
  content: " ";
  position: absolute;
  right: 50%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 80px solid white;
  border-left: 50vw solid transparent;
}

.parallax__companies:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 80px solid white;
  border-right: 50vw solid transparent;
}

.companies_wrap {
  padding: 150px 0 100px 0;
  margin: 0 auto;
  max-width: var(--container-width);
}

.companies__logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-gap: 100px 30px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1080px) {
  .companies__logo {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px 30px;
  }
}
@media (max-width: 995px) {
  .companies__logo {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
  }
}
@media (max-width: 558px) {
  .companies__logo {
    grid-template-columns: 1fr;
    grid-gap: 30px 30px;
  }
  .section__subtitle {
    padding: 0.1em 0.6em 1em 0.1em;
    line-height: 1.5;
  }
}

.companies__logo-pic {
  display: inline-block;
  width: 225px;
}
.companies__logo-pic img {
  width: 100%;
  object-fit: cover;
}
.MEET-US {
}
.meet-us_wrap {
  margin: 150px auto 100px auto;
  max-width: var(--container-width);
}
.meet-us__cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 10px;
  flex-wrap: wrap;
}
.card-member {
  flex-basis: 30%;
  text-align: center;
}
.card-member__photo {
  min-width: 30%;
  object-fit: cover;
  overflow: hidden;
}
.card-member__description {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: var(--clr-text);
}
.testimonials {
}
.testimonials_wrap {
  padding-top: 210px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
  max-width: var(--container-width);
}
.parallax__testimonials {
  clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%, 100% 0);
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.section__quote {
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  color: var(--clr-quote);
}
.section__quote-author {
  display: block;
  margin: 28px 85px 0 auto;
  text-align: right;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: #fff;
}
.why {
}
.bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
}
.why_wrap {
  margin: 122px auto 0 auto;
  max-width: var(--container-width);
}
.footer_wrap {
  margin: 96px auto 88px auto;
  text-align: center;
  max-width: var(--container-width);
}
.copyright {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--clr-copyright);
}
.designer {
}
.designer a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: var(--clr-copyright);
}
