.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  height: 60px;
  background: #0072b2;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.homeLink {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.activeLink {
  opacity: 40%;
  cursor: default;
}