body {
  font-family: "Roboto", sans-serif;
  font-family: "Yaldevi", sans-serif;
  background: #011f2a;
}

h1 {
  color: white;
  font-family: "Yaldevi";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.text {
  color: white;
  font-family: "Roboto";
  font-size: 22px;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
}

/* Pretty Stuff? */

.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.things > .content h1 {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: -15%;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #89323b;
}

/* Arrow */

.arrow {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
  border: 2px solid #be5f4b;
  border-color: transparent transparent transparent #be5f4b;
  height: 360px;
  width: 1200px;
  border-radius: 230px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 40px;
  top: 315px;
}

.arrow .point:before,
.arrow .point:after {
  border: 1px solid #be5f4b;
  height: 25px;
  content: "";
  position: absolute;
}

.arrow .point:before {
  top: -11px;
  left: -11px;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
  -moz-transform: rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
  left: 5px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}
