:global {
  * {
    margin: 0;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
  }
}

.App {
  text-align: center;
  width: 100%;

  button {
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    box-sizing: border-box;
    padding: 3px 8px;
    border-radius: 4px;
  }
}

.header {
  background: #0072b2;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
}

.searchContainer {
  position: absolute;
  top: 70px;
  right: 0;
  width: 350px;
  box-sizing: border-box;
  padding: 24px;
  background: #0072b2;
  border-radius: 6px 0 0 6px;
  transition: .3s ease-out;
  transform: translateX(360px);

  &.open {
    transform: translateX(0);
  }

  input {
    box-sizing: border-box;
    padding: 3px 8px;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 15px;
  }
}
