.form {
  margin: 100px auto;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin-bottom: 10px !important;
}

.error {
  color: #b90e0a;
  font-size: 14px;
  margin: 2px 0 15px;
}