.btn {
  box-sizing: border-box;
  padding: 4px 12px;
  width: fit-content;
  font-family: sans-serif;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  filter: brightness(.9);

  &:hover {
    filter: brightness(1);
  }
}
