* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

input {
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 40%;
    font-size: 18px;
}

button {
    box-sizing: border-box;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    filter: brightness(.9);
    font-size: 18px;
    margin: 10px 10px 10px 0;
    width: fit-content;
}

button:hover {
    filter: brightness(1);
}
