body {
    font-family: sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: gray;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.root {
    width: 900px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel_container {
    border: 1px solid grey;
    width: 900px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.carousel_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transition: .3s ease;
}

.carousel_button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: unset;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    filter: grayscale(100%);
    cursor: pointer;
}

.carousel_button:hover {
    filter: grayscale(0);
}

.carousel_button img {
    width: 40px;
    height: 40px;
}

.carousel_button-prev {
    left: -70px;
}

.carousel_button-next {
    right: -70px;
}


.slide {
    width: 900px;
    height: 450px;
    position: relative;
}

.slide_shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .75;
    z-index: 1;
}

.carousel_text-container {
    position: absolute;
    top: 3%;
    left: 3%;
    color: #fff;
    z-index: 2;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 42px;
}

.description {
    font-weight: 500;
    font-size: 18px;
    opacity: .9;
    max-width: 70%;
    line-height: 30px;
}

@keyframes fade-in-out {
    from {
       opacity: 1;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-out {
    animation: fade-in-out .3s ease;
}


.carousel_pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    background: lightgray;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s ease;
}

.pagination-item.active {
    background: #1ecaab;
    cursor: default;
}
