label {
  width: 100%;
  text-align: left;
}

input {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  border: none;
}

.error {
  font-size: 15px;
  color: red;
  width: 100%;
  text-align: left;
  line-height: 14px;
  min-height: 14px;
}
