:root {
  --clr-main: cornsilk;
  --clr-accent: crimson;
  --clr-bg: #0c1f25;
}

@font-face {
  font-family: "Trajan Pro 3";
  src: url("../fonts/TrajanPro3-Regular.woff2") format("woff2"),
    url("../fonts/TrajanPro3-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Yaldevi", sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-main);
}

h1 {
  margin: 10px 0;
  color: white;
  font-family: "Yaldevi";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.text {
  padding: 0 26px;
  color: var(--clr-main);
  font-family: "Roboto";
  font-size: 20px;
  line-height: 1.4;
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
}

span {
  text-transform: uppercase;
  color: var(--clr-accent);
}

/* cards */
.posters {
  font-family: "Roboto";
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.movie {
  position: relative;
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.movie__logo {
  width: 80px;
  position: absolute;
  top: 5px;
  right: 10px;
}
.movie__episode {
  color: white;
  font-family: "Trajan Pro 3";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.movie__episode-id {
  list-style-type: none;
}
.movie__episode-title {
  font-family: "Trajan Pro 3";
  font-size: 24px;
  font-weight: 700;
  color: #d7bf78;
  margin-top: 20px;
}

ul[class^="movie__characters"] {
  margin-top: 15px;
  color: white;
  font-size: 20px;
  min-height: 260px;
}
ul[class^="movie__characters"] li {
  display: inline-block;

  margin-left: 2px;
  color: var(--clr-main);
  font-size: 14.5px;
}

.movie__opening-crawl {
  /* margin-top: 30px; */
  line-height: 1.4;
}

/* rainbow */
.solid {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;

  border: 5px solid #b70000;
}

.rainbow {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #366943;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#366943, #366943),
    linear-gradient(#d89b01, #d89b01),
    linear-gradient(var(--clr-accent), var(--clr-accent)),
    linear-gradient(#053ba0, #053ba0);
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: var(--clr-bg);
  border-radius: 5px;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
