/* Pricing_Table */

:root {
  --clr-standard: hsl(84, 60%, 48%);
  --clr-ultimate: hsl(356, 85%, 62%);
  --clr-premium: hsl(178, 59%, 31%);
}

body {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
}
td {
  vertical-align: middle;
}

th {
  vertical-align: middle;
}

caption {
  text-align: left;
  text-transform: capitalize;
}

.fa,
.fas {
  color: hsl(0, 0%, 52%);
  display: table-cell;
  line-height: 1.2;
}
.standard {
  color: white;
  background-color: var(--clr-standard);
  box-shadow: 0 -3px #79b027 inset;
}
.ultimate {
  color: white;
  box-shadow: 0 -3px #df3a46 inset;
  background-color: var(--clr-ultimate);
}
.premium {
  color: white;
  background-color: var(--clr-premium);
  box-shadow: 0 -3px #16736f inset;
}
.contact {
  color: white;
  background-color: hsl(0, 0%, 28%);
  box-shadow: 0 -3px #404040 inset;
}

.services-column {
  width: 18%;
}

.pricing-plan2 {
  table-layout: fixed;
  width: 1197px;
  margin: 30px auto 30px auto;
  color: hsl(0, 0%, 28%);
  text-align: center;
  border: 24px solid hsl(219, 27%, 31%);
}

.border {
  border-bottom: 12px solid hsl(219, 27%, 31%);
}

.inner-border {
  border-bottom: 12px solid hsl(219, 27%, 31%);
}

.services {
  background-color: hsl(0, 0%, 89%);
}

.t2__pp-head-first-row {
  display: inline-block;
  margin: 25px auto 32px auto;
  font-weight: 700;
  font-size: 20px;
}

.t2-small-title {
  font-size: 14px;
  line-height: 18px;
}

.t2__price-col {
  font-weight: 700;
}
.t2__price-col-name {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  line-height: 28px;
}
.t2__wrap {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t2__price-dollars {
  font-size: 36px;
  line-height: 1;
}
.t2__price-cents {
  align-self: flex-start;
  font-size: 18px;
}
.t2__price-per-month {
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.t2__buy_button {
  display: inline-block;
  margin: 10px auto 22px auto;
  padding: 14px 35px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: hsl(0, 0%, 28%);
  filter: drop-shadow(0 9px 4px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease;
  box-shadow: 0 -3px #404040 inset;
}

.t2__price-col .t2__buy_button {
  font-weight: 400;
}
.t2__buy_button:hover {
  font-weight: 900;
  filter: none;
  transition: all 0.3s ease;
}

.t2__pp-data tr td {
  border-bottom: 1px solid hsl(0, 0%, 84%);
}