.root {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid lightgray;

  h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    line-height: 20px;
    color: grey;
    margin-bottom: 20px;
  }

  form {
    max-width: unset !important;
  }
}

.btnWrapper {
  display: flex;
}