@import "reset.css";

body::-webkit-scrollbar {
  width: 200px;
}
/* body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px olive;
} */
body::-webkit-scrollbar-thumb {
  background-image: url("../img/pencil.svg");
  background-color: violet;
  border-radius: 50%;
  transition: background-color 0.3s, border-radius 0.3s;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #0f0;
  border-radius: 0;
}


/* .card-list {

} */
.card {
  position: absolute;
  box-sizing: border-box;
  padding: 24px 16px;
  width: 240px;
  height: 224px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

overflow: hidden;
}
.card-title {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 32px;

}
.card-link {
  padding: 3px 30px;
  color: red;
  text-decoration: none;
  display: inline-block;
  align-self: flex-end;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  font-size: 16px;
  line-height: 32px;
  font-family: sans-serif;
}

.card-bg-img{
position: absolute;
transform: rotate(-21deg);
left: -75px;
top: 20px;

}

.card-red{
  background:  url(../img/Python\ Icon.svg), url(../img/Python\ Icon.svg),linear-gradient(321.69deg, #FF6188 0%, #FFB199 100%);
 background-position: center ;
 background-repeat: no-repeat;
}