@font-face {
  font-family: "ABCTypeWriter";
  src: url("../fonts/ABCTypeWriterRussian.woff2") format("woff2"),
    url("../fonts/ABCTypeWriterRussian.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TypeWriter";
  src: url("../fonts/TypeWriter.woff2") format("woff2"),
    url("../fonts/TypeWriter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Anonymous Pro", monospace;
  background-color: #faf3eb;
  list-style-type: upper-roman;
}
.container {
  width: 50%;
  margin: 0 auto;
}

body span {
  font-size: 1.4rem;
  line-height: 1.2rem;
  font-weight: 900;
  color: maroon;
  background-color: #fdecd9;
  padding: 0 0.5em;
}

h1 {
  margin-top: 15%;
  font-family: "ABCTypeWriter";
  text-align: center;
  color: black;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-color: #fdecd9;
  padding: 0 0.5em;
}
h2 {
  font-family: "TypeWriter";
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  font-style: italic;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}
.container {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  width: 50%;
  margin: 0 auto;
}

.question {
  list-style-type: upper-roman;
  color: #322f2e;
}

.question::marker {
  font-size: 1.5rem;
  font-weight: bold;
}

.question p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-block-start: 0.4em;
}

.input_label {
  font-weight: 700;
  font-size: 2rem;
}

.input_box {
  width: 200px;
  padding: 10px 0;
}

.wrapper {
  all: initial;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

.spn {
  /* all: initial; */
  padding: 0.5em;
  border-color: rgb(56, 55, 55);
  border-radius: 9999px;
  font-size: 1em;
  background-color: white;
}
.btn_x {
  margin: 0 0.5em;
  padding: 4px 8px;
  background-color: #fff;
  border-color: rgb(56, 55, 55);
  border-radius: 9999px;
  font-size: 1em;
}
