@font-face {
  font-family: "News Gothic BT";
  src: url("NewsGothicBT-Bold.woff2") format("woff2"),
    url("NewsGothicBT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Star Jedi";
  src: url("StarJedi.woff2") format("woff2"),
    url("StarJedi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --clr-intro: #4bd5ee;
  --clr-logo: #ffd54e;
  --duration: 30s;
}

body {
  font-family: "News Cycle", "News Gothic BT", "Star Jedi", sans-serif;
  overflow: hidden;
}

.background {
  position: relative;
  background-image: url(../images/Background.png);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}
audio {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 300px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 90px;
  transform: scale(0.5);
}

/* animated intro lightblue text */
.intro__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  margin: 25%;
  flex-wrap: nowrap;
  align-items: flex-start;
  font-family: "News Cycle";
  letter-spacing: 0.1em;
  line-height: 1.7;
  color: var(--clr-intro);
  animation: intro var(--duration) ease-in both;
}
.intro__text p {
  display: block;
}

@media screen and (min-width: 2400px) {
  .intro__text {
    font-size: 6em;
  }
}
@media screen and (max-width: 2440px) {
  .intro__text {
    font-size: 4em;
  }
}
@media screen and (max-width: 1650px) {
  .intro__text {
    font-size: 2em;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 0.8;
  }
  12% {
    opacity: 1;
  }
  18% {
    opacity: 0.8;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* The animated logo is not ready!!! */
.intro__logo-wrap {
  /* display: block; */
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  /* perspective: 100px; */
  /* animation: logo 7s ease-in 1s both; */
  animation-direction: reverse;
  animation-iteration-count: 1;
}

.intro__logo {
  position: absolute;
  inset: -128vh 0px 0px -65vw;
  color: var(--clr-logo);
  width: 250%;
}

@keyframes logo {
  0% {
    transform: scale3d(0, 0, 1);
  }

  100% {
    display: none;
  }
}

/* animated text crawler */
.container {
  position: relative;
  margin: 0 auto;
  perspective: 200px;
  width: 28%;
  height: 100vh;
}

.intro__crawler-wrap {
  height: 100%;
  color: var(--clr-logo);
  transform: rotateX(25deg);
  transform-origin: bottom;
}

.intro__crawler {
  position: absolute;
  transform: rotate3d(1, 0, 0, 45deg);
  animation: crawler var(--duration) linear forwards;
  animation-iteration-count: infinite;
}

@keyframes crawler {
  0% {
    top: 100%;
    opacity: 0;
  }
  15% {
    top: 100%;
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

.intro__crawler h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2;
}

.intro__crawler p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.35;
}
