body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.header {
}
.logo {
  margin-bottom: 41px;
  font-size: 78px;
  font-weight: 500;
  letter-spacing: 1px;
}
.logo > a span {
  color: #4bcaff;
}

.logo > a {
  color: black;
  text-decoration: none;
}

.nav-top {
}

.nav-top-list {
  padding: 0;
  background-color: #35444f;
  display: flex;
  justify-content: flex-end;
}
.nav-top-item {
  border-left: 1px solid #ffff;
  font-size: 24px;
  list-style-type: none;
}

.nav-top-item:last-child {
  padding-right: 190px;
}

.nav-top-item a {
  display: inline-block;
  padding: 26px 35px 19px 35px;
  text-decoration: none;
  color: white;
  transition: all 0.45s ease;
}
.nav-top-item:hover {
  color: white;
  background-color: #222f3a;
  transition: all 0.45s ease;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-aside {
  width: 344px;
  margin-top: 48px;
  border: 1px solid black;
}
.nav-aside-list {
  list-style-type: none;
}
.nav-aside-item {
}

.nav-aside-item:hover {
  background: #dbdbdb;
}

.nav-aside-item a {
  display: block;
  padding: 19.5px 0 19.5px 42px;
  font-size: 27px;
  color: #495863;
  transition: all 0.45s ease;
}
.nav-aside-item a:hover {
  padding: 19.5px 0 19.5px 70px;
  color: black;
  background: #dbdbdb;
  transition: all 0.45s ease;
}

.main-block {
  margin-top: 49px;
  width: calc(71.05% - 26px);
}
.pic {
  padding: 75px 0;
  text-align: center;
  border: 1px solid black;
}

.article {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.article p {
  margin-top: 35px;
}

.footer {
  margin-top: 54px;
  margin-bottom: 30px;
  background: #b4b7b9;
  display: flex;
  justify-content: space-between;
}
.nav-footer {
}
.nav-footer-list {
  display: flex;
  padding-left: 40px;
}
.nav-footer-item {
  line-height: 1;
  list-style-type: none;
  /* padding: 22px 15px 22px 15px; */
}

.nav-footer-item a {
  display: block;
  padding: 22px 15px 22px 15px;
  font-size: 28px;
  color: #0c1927;
  transition: all 0.45s ease;
}
.nav-footer-item:hover a {
  display: block;
  color: #3181a6;
  padding-bottom: 8px;
  border-bottom: 1px solid #3181a6;
  transition: all 0.45s ease;
}

.copyright {
  padding: 22px 40px 22px 0;
  font-size: 24px;
  line-height: 1;
}
