body {
  font-family: "Roboto", sans-serif;
  font-family: "Yaldevi", sans-serif;
  background: #0c1f25;
}

h1 {
  margin-top: 3em;
  color: white;
  font-family: "Yaldevi";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.text {
  min-width: 30em;
  padding: 0 2em;
  color: cornsilk;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 1.4;
  max-width: 1200px;
  margin: 0 auto;
}

span {
  font-weight: 700;
  color: crimson;
}

.things {
  position: relative;
}
.root {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 2em;
  color: cornsilk;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px auto 0 auto;
  width: 600px;
}
li {
  list-style-type: none;
}

.container {
  max-width: 65em;
  min-width: 30em;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
}
.btn {
  align-self: center;
  width: 15em;
}
.location {
  margin-top: 1.5em;
}

.location li {
  color: cornsilk;
  align-self: center;
}
