:root {
  --primary-active: #434343;
  --primary-inactive: rgb(190, 190, 190);
  --green: rgb(60, 184, 120);
  --blue: #305db8;
  --red: #df4a32;
  --hover-green: #01813f;
  --hover-blue: #022263;
  --hover-red: #ab1f09;
}
*::before,
*::after {
  box-sizing: border-box;
}
*:hover {
  transition: all 0.3s ease;
}
a {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.top {
  background-color: rgba(0, 0, 0, 0.41);
  display: flex;
  align-items: center;
}
.title {
  margin: 1.125rem 0 1.125rem calc(100vh * 10.26 / 100);
}
.title a {
  font-size: 1.375em;
  line-height: 1;
  font-weight: 700;
  color: white;
}
.title:hover a {
  color: var(--hover-green);
}
.title__nav_list {
  margin-right: calc(100vw * 4 / 100);
  position: relative;
  color: white;
}
.title__nav_list:nth-child(2) {
  margin-left: auto;
}

.title__nav__link {
  padding-left: calc(100vw * 2 / 100);
}

.title__nav__link:hover svg > path {
  fill: var(--hover-green);
}

.title__nav__link:last-child::after {
  content: "";
  position: relative;
  vertical-align: 25%;
  left: calc(100vw * 2 / 100);
  border: 1px solid;
  border-width: 0 0 0 1px;
  color: white;
}

.title__welcome {
  margin-right: calc(100vh * 10.26 / 100);
  font-size: 0.875em;
  line-height: 0.875em;
  color: white;
  display: inline-block;
}

.title__welcome__action {
  color: white;
}
.title__welcome__action:hover {
  color: var(--hover-green);
}
.modal-wrapper {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 33%;
}
.modal {
  padding: 0 3.75em 0 3.75em;
  background-color: white;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.modal__top {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 4%;
  margin-bottom: 4%;
}

.modal__top_signin {
  position: relative;
  font-size: 1.375em;
  line-height: 1em;
  color: var(--primary-active);
}

.modal__top_signin::before {
  position: relative;
  display: block;
  width: 2.34vh;
  height: 2.34vh;
  top: 20px;
  left: -79.2%;
  background-color: var(--green);
  content: "";
}

.modal__top_signin a {
  color: inherit;
}
.modal__top_login {
  font-size: 0.875em;
  line-height: 1em;
  color: var(--green);
}
.modal__top_login a {
  color: inherit;
}
.modal__top_login:hover a {
  text-decoration: underline;
  color: var(--hover-green);
}

.modal__btn {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fb {
  position: relative;
  padding: 0.75em 1.226em;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.fb p::before {
  position: absolute;
  display: block;
  width: 1px;
  height: 28px;
  top: 10px;
  left: 52px;
  background-color: #0a162f;
  opacity: 0.1;
  content: "";
}

.fb:hover {
  background-color: var(--hover-blue);
}

.fb p {
  padding-left: 2.35em;
}
.google {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.908em 1.26em;
  background-color: var(--red);
  border-radius: 4px;
}

.google p::before {
  position: absolute;
  display: block;
  width: 1px;
  height: 28px;
  top: 10px;
  left: 65px;
  background-color: #2b0d09;
  opacity: 0.1;
  content: "";
}

.google:hover {
  background-color: var(--hover-red);
}
.google p {
  padding-left: 2.35em;
}
.modal__or {
  margin: 0 auto;
  text-align: center;
  margin-top: 9%;
  margin-bottom: 3.2%;
  color: var(--primary-inactive);
}
.modal__or-positioner {
  position: relative;
}

.modal__or::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 47%;
  border-bottom: 1px solid var(--primary-inactive);
}
.modal__or::after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 47%;
  border-bottom: 1px solid var(--primary-inactive);
  content: "";
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal__form_input {
  font-size: 0.875em;
  line-height: 0.875em;
  padding: 15px 20px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.modal__form_input:hover {
  background-color: rgba(60, 184, 120, 0.1);
}

.modal__form_input:focus {
  color: var(--primary-active);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: transparent;
}

.modal__form_input::placeholder {
  color: var(--primary-inactive);
}
.modal__form_input:hover::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* Customize the label (the container) */
.checkbox__container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox__container .checkbox {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -6px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}

/* On mouse-over, add background color */
.checkbox__container:hover input ~ .checkmark {
  background-color: rgba(60, 184, 120, 0.1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\2713";
  position: relative;
  display: none;
  font-size: 29px;
  font-weight: 700;
  color: var(--hover-green);
}

/* Show the checkmark when checked */
.checkbox__container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox__container .checkmark:after {
  left: 3px;
  top: -1px;
}

.checkbox__agree {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  color: var(--primary-active);
}
.checkbox_term-and-condition {
  font-size: 1em;
  line-height: 1em;
}
.checkbox_term-and-condition a {
  color: rgba(60, 184, 120, 0.8);
}
.checkbox_term-and-condition:hover a {
  text-decoration: underline;
  color: var(--hover-green);
}

.modal__form_btn {
  padding: 16px 99px;
  margin-top: 15px;
  margin-bottom: 38px;
  font-size: 1em;
  line-height: 1em;
  color: white;
  text-align: center;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
}
.modal__form_btn:hover {
  background-color: var(--hover-green);
}
