body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__container {
  padding: 10px 12px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
}
.header__burger-btn {
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 1px solid white;
}
.sidebar {
}
.sidebar__block {
  background-color: green;
}
.sidebar__content {
  padding: 15px 13px;
  color: white;
}
.article__block {
  /* flex-grow: 1; */
  padding: 12px 16px;
  background-color: blue;
  color: white;
}
.article__text {
  color: white;
  font-family: sans-serif;
}
.navbar__menu {
  height: 200px;
  display: none;
  background-color: red;
}
.navbar__menu--is-active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vh;
}
.navbar__text {
  padding: 10px;
  color: white;
}
.footer__block {
  background-color: black;
}
.footer__text {
  padding: 15px 13px;
  color: white;
  text-align: center;
}
@media (min-width: 768px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
  }
  .navbar__menu {
    flex-basis: 100px;
    display: block;
    max-width: 100px;
    height: auto;
  }
  .navbar__text {
    writing-mode: vertical-lr;
  }
  .article__block {
    box-sizing: border-box;
    max-width: calc(100% - 100px);
    flex-grow: 1;
  }
  .sidebar__block {
    flex-basis: 100%;
  }
  .navbar__menu--is-active {
    position: static;
  }
}

@media (min-width: 1024px) {
  .main-content {
    flex-wrap: nowrap;
  }
  .navbar__menu {
    display: block;
    max-width: 150px;
    flex-basis: 150px;
  }
  .sidebar__block {
    max-width: 150px;
    flex-basis: 150px;
    writing-mode: vertical-lr;
  }
  /* .article__block {
    flex-grow: 1;
  } */
}
