
.card {
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

.card span {
    color: grey;
    margin-bottom: 10px;
    font-size: 13px;
}

.card h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
}
