.images-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.image-to-show {
  display: none;
  width: 400px;
  height: 400px;
}
.visible {
  margin: 30px auto;
  display: block;
}
.button-wrapper {
}

.button {
  align-self: center;
  width: 200px;
  margin: 20px;
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  padding: 7px 14px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-family: "Beaufort-Regular";
  font-size: 1.5em;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
.question_box {
  margin: 5vh auto 0 auto;
  width: 60vw;
}
.question_box h2 {
  width: 60vw;
  color: maroon;
  margin-bottom: 0.5em;

  text-align: center;
  font-family: "Beaufort-Bold";
  font-size: 1.8em;
  line-height: 1.4;
  font-weight: 700;
}

.question_box p {
  color: #333333;
  text-align: left;
  font-family: "Beaufort-Regular";
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 400;
}
