body {
    background: url("../img/backgrnd.png") no-repeat center center fixed;
    background-size: cover;
}

.header {
    display: flex;
    max-width: 1064px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 49px;
    padding-bottom: 45px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
}

.logo-text {
    display: inline-block;
    padding-left: 15px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.logo-text-milan {
    display: block;
    font-size: 29px;
}

.logo-text-holidays {
    font-size: 18px;
}

.contacts {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.container {
    max-width: 1064px;
    margin: 0 auto;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.card-img {
    width: 312px;
    height: 205px;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff , #000000);
    border-image-slice: 1;
    }

.card-shopping {
    background: url(../img/b1.jpg) no-repeat;
    background-position: -50px -140px;
}

.card-sightseeing {
    background: url(../img/b2.jpg) no-repeat;
    background-position: -75px -50px;
}

.card-food {
    background: url(../img/b3.jpg) no-repeat;
    background-position: -10px -10px;
}

.card-bars {
    background: url(../img/b4.jpg) no-repeat;
    background-position: -30px 0px;
}

.card-art {
    background: url(../img/b5.jpg) no-repeat;
    background-size: 120%;
    background-position: -10px -200px;
}

.card-walking {
    background: url(../img/b6.jpg) no-repeat;
    background-position: 0px -270px;
}

.card-detail {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -64px;
    height: 63px;
    width: 100%;
    background-color: #f26522;
    transition: .7s;
}

.price {
    display: inline-block;
    padding-left: 21px;
    padding-top: 16px;
}

.p-price {
    color: #ffffff;
    font-size: 10px;
    text-align: left;

}

.h2-price {
    color: #ffffff;
    font-size: 20px;
    text-align: left;
}

.detail-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-top: 30px;
    padding-right: 18px;
}

.detail-link::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    background-image: url(../img/Arrow.svg);
    background-repeat: no-repeat;
    margin-left: 15px;
}

.card-title {
    text-transform: capitalize;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 55px;
    transition: .2s;
}

.card-detail:hover {
    bottom: 0;
}

.card-title:hover {
    color: #f26522;
}

.card:hover > .card-img .card-detail {
    bottom: 0;
}

.card:hover > .card-title {
    color: #f26522;
}

.copyright {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}
