.App {
  box-sizing: border-box;
  padding: 24px;
  font-family: sans-serif;
  color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  text-align: center;
}


button {
  width: fit-content;
  box-sizing: border-box;
  padding: 4px 10px;
  filter: brightness(.9);
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 18px;

  &:hover {
    filter: brightness(1);
  }
}


