.breaking-news {
  padding-bottom: 128px;
}
.container {
}
.breaking-news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    ". . . ."
    ". . . .";
  gap: 46px 36px;
  justify-items: center;
}
.bn-card {
  position: relative;
  text-decoration: none;
  color: #777777;
  transition: all 0.8ms ease;
}

.bn-card-img {
  width: 263px;
  height: 208px;
  overflow: hidden;
  object-fit: cover;
}
.bn-card-date {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 16px 6px 15px;
  color: white;
  background-color: var(--clr-dark);
  font-size: 16px;
  line-height: 156%;
}
.bn-card-day {
  display: block;
  text-align: center;
}
.bn-card-month {
  display: block;
  text-align: center;
}

.bn-card-title {
  margin-left: 16px;
  color: #717171;
  font-weight: bold;
  font-size: 18px;
  line-height: 216%;
}
.bn-card-author {
  margin-left: 18px;
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  /* line-height: 278%; */
}
.bn-card-comments {
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
}

.bn-card-comments-number {
  position: relative;
  margin-left: 16px;
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
}
.bn-card-comments-number::before {
  content: "|";
  position: absolute;
  left: -12px;
  top: 0;
}
.bn-card:hover .bn-card-title {
  color: var(--clr-main);
  transition: all 0.8ms ease;
}
.bn-card:hover .bn-card-date {
  background-color: var(--clr-main);
  transition: all 0.8ms ease;
}
