.features {
  margin-bottom: 8px;
}

.features-line {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.features-card-link {
  padding-top: 47px;
  padding-bottom: 109px;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
.features-card {
  padding-top: 85px;
  text-align: center;
}

.features-card img {
  padding-bottom: 47px;
  object-fit: cover;
  overflow: hidden;
}

.dark {
  background-color: var(--clr-dark);
  color: var(--clr-main);
}
.light {
  background-color: var(--clr-main);
  color: white;
}
