footer {
  position: relative;
}

.copyright {
  color: #aeaeae;
  font-weight: 300;
  font-size: 14px;
  line-height: 186%;
  background-color: #22353f;
  text-align: center;
}
.companyname {
  padding: 48px 12px 48px 4px;
  display: inline-block;
  color: var(--clr-main);
  text-decoration: none;
}
.copyright::before {
  content: "|";
  font-size: 16px;
  position: absolute;
  left: 50.56vw;
  top: 47px;
}
