.our-amazing-work {
  background: #e9edef;
  padding-bottom: 70px;
}
.our-amazing-work-tabs {
  margin: 0 auto 71px auto;
  /* margin-bottom: 71px; */
  width: 580px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #717171;
}
.our-amazing-work-tab {
  padding: 12px 18px;
  font-size: 14px;
  line-height: 300%;
  background-color: #f8fcfe;
}
.our-amazing-work-tab:hover {
  color: var(--clr-main);
  outline: 2px solid var(--clr-main);
}
.selected {
  color: var(--clr-main);
  outline: 1px solid var(--clr-main);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  gap: 2px;
  justify-items: center;
}
.card {
  position: relative;
  width: 285px;
  height: 206px;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  background-color: transparent;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateX(0deg); /* Fix backface-visibility: hidden; for Firefox */
  backface-visibility: hidden;
}
.front img {
  overflow: hidden;
  object-fit: cover;
}
.back {
  border: 2px solid var(--clr-main);
  color: var(--clr-main);
  transform: rotateY(180deg);
}
.back img {
  margin-top: 40px;
  width: 88px;
  overflow: hidden;
  object-fit: cover;
}
.back h3 {
  margin-top: 25px;
  color: var(--clr-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 178%;
  text-transform: uppercase;
}
.back p {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12px;
  line-height: 207%;
}

.load-more {
  position: relative;
  display: block;
  width: 10.625rem;
  padding: 13px 0 8px 0;
  margin: 70px auto 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 300%;
  color: white;
  background-color: var(--clr-main);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.load-more:before {
  content: "+";
  position: absolute;
  top: 18px;
  left: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.load-more > span {
  margin-left: 36px;
}

.hide {
  display: none;
}
