.our-services {
  /* margin-bottom: 8px; */
}

.section-title {
  text-align: center;
  padding-top: 83px;
  margin-bottom: 101px;
  font-size: 36px;
  line-height: 111%;
  position: relative;
}
.section-title:before {
  content: "";
  position: absolute;
  width: 78px;
  height: 1px;
  top: 114%;
  left: 46%;
  background-color: var(--clr-main);
}
.section-title:after {
  content: "";
  position: absolute;
  width: 78px;
  height: 1px;
  top: 119%;
  left: 47%;
  background-color: var(--clr-main);
}

.services-tabs {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #717171;
  list-style: none;
  cursor: url(../images/cursor.svg), auto;
}
.services-tab {
  position: relative;
  flex-grow: 1;
  padding: 16.5px 18px;
  font-size: 16px;
  line-height: 244%;
  background-color: #f8fcfe;
  border: 1px solid #edefef;
}
.services-tab:hover {
  border: 1px solid var(--clr-main);
}
.active {
  color: white;
  background-color: var(--clr-main);
  border: 1px solid var(--clr-main);
}
.active::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 101%;
  left: 45%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--clr-main);
}

.card-content {
  display: none;
  margin: 28px 0 91px 0;
}
.visible {
  display: flex;
  justify-content: center;
}
.services-tab-img {
  width: 192px;
  height: 139px;
}
.services-tab-text {
  padding-left: 15px;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 179%;
}
.cta-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/sections_background/section-2.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.cta-title {
  padding-top: 126px;

  font-weight: 700;
  font-size: 40px;
  line-height: 101%;
  text-align: center;
  color: var(--clr-main);
  text-transform: uppercase;
}
.cta-subtitle {
  margin-top: 12px;
  color: #d8d8d8;
  font-size: 16px;
  line-height: 250%;
  text-align: center;
}
.btn-services {
  margin: 60px 0 126px 0;
}
