.testimonials {
  margin-bottom: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/sections_background/section-3.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.transparent {
  color: white;
}

.quotesign {
  display: block;
  margin: 0 auto;
}
.quote {
  height: 50px;
  display: block;
  margin: 37px 0 29px 0;
  text-align: center;
  color: #bbbbbb;
  font-weight: 300;
  font-size: 16px;
  line-height: 187%;
  overflow: hidden;
}

.imageURL {
  width: 142px;
  height: 142px;
  margin: 28px 0 56px;
  background-size: cover;
  border: 12px solid rgba(32, 62, 56, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.slideshow-container {
  text-align: center;
}

.mySlides {
  display: none;
}

.position {
  color: #bbbbbb;
  font-weight: 300;
  font-size: 13px;
  line-height: 169%;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.author {
  padding: 8px 12px;
  color: var(--clr-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 169%;
  text-transform: uppercase;
}
.prev,
.next {
  padding: 0 11.5px;
  margin-right: 31px;
  width: 31px;
  height: 31px;
  color: white;
  background-color: transparent;
  border: 1px solid #bbbbbb;
  transition: all 0.8ms ease;
  user-select: none;
  cursor: pointer;
}
.next {
  margin: 0 0 0 31px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: var(--clr-main);
  border: 1px solid var(--clr-main);
}
.people-dot-wrapper {
  position: relative;
  margin: 0 auto 90px auto;
  width: 520px;
  display: flex;
  align-items: center;
}
.dot-content {
  padding: 14px 0;
  white-space: nowrap;
  overflow: hidden;
}
.slide {
  margin-right: 35px;
  display: inline-block;
  list-style: none outside none;
  transform: translateX(0);
  transition: transform 0.6s ease;
}
.dot {
  height: 70px;
  width: 70px;
  margin: 0;
  border: 5px solid var(--clr-dark);
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}

.top,
.dot:hover {
  transform: translateY(-13px);
  transition: transform 0.5s ease;
  position: relative;
  overflow: visible;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
