@use "../variables" as v;
@use "../mixins";

.footer {
  background-color: v.$footerBackgroundColor;
  // width: 100%;

  &__title {
    margin: 42px 0 0 0;
    padding: 38px 0 8px 0;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
  }
  &__copyright {
    padding: 0 35px;
    font-size: 12px;
    line-height: 167%;
    color: #b9b9b9;
    text-align: center;
  }
  &__media {
    margin: 37px 0 34px 0;
    display: flex;
    justify-content: center;
    gap: 6px;

    &-link {
    }

    &-icon {
      width: 34px;
    }
  }
  &__contact {
    padding: 0 70px 47px 70px;
    font-size: 14px;
    line-height: 171%;
    color: #b9b9b9;
    text-align: center;
    &-tel-icon {
    }
    &-tel-number {
    }
    &-email {
    }
  }
}

.footer__container {
  max-width: v.$mobile;
  margin: 0 auto;
}

@media (min-width: v.$tablet) {
  .footer__container {
    max-width: 684px;
    // max-width: v.$tablet;
    margin: 0 auto;
  }
  .footer {
    &__title {
      padding: 57px 0 22px 0;
      font-size: 16px;
    }
    &__copyright {
      font-size: 16px;
      line-height: 175%;
    }

    &__contact {
      font-size: 16px;
      line-height: 162%;
    }
  }
}
