@use "../variables";
@use "../mixins";

.latest-instagram-shots__wrapper {
  display: none;
  .latest-instagram-shots__title {
  }
  .latest-instagram-shots__subtitle {
  }
  .latest-instagram-shots__picture {
  }
}
