@use "../variables" as v;
@use "../mixins";

.our-recent-posts {
  &__title {
    color: v.$titleColor;
    margin: 38px 0 23px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
  }
  &__cardbox {
    display: flex;
    flex-direction: column;
    &-img {
      width: 160px;
    }
    &-wrap {
      &-caption {
        margin: 11px 0 0 0;
        color: v.$titleColor;
        font-weight: 700;
        font-size: 14px;
        line-height: 214%;
      }
      &-subtitle {
        margin: 0 0 28px 0;
        font-size: 11px;
        line-height: 182%;
        &-number {
          margin: 0 5px 0 3px;
        }
      }
      &-text {
        display: none;
      }
    }
  }
  &__cardbox-extra {
    display: none;
  }
}

@media (min-width: v.$tablet) {
  .our-recent-posts {
    &__cardbox {
      margin-top: 34px;
      gap: 20px;
      flex-direction: row;
      align-items: flex-start;

      &-wrap {
        display: flex;
        flex-direction: column;
        &-caption {
          margin: 0;
        }
        &-subtitle {
          font-size: 12px;
          &-number {
            display: inline-block;
            margin: 0 5px 0 3px;
          }
        }
        &-text {
          display: block;
          font-size: 14px;
          line-height: 186%;
          color: v.$textColor;
        }
      }
    }
    &__cardbox-extra {
      display: flex;
    }
  }
}

@media (min-width: v.$desktop) {
  .our-recent-posts {
    &__cardbox {
      width: 585px;
    }
    .deskview {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
