.root {
  button {
    margin-bottom: 40px;
    min-width: 250px;
  }

  p {
    box-sizing: border-box;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 20px;
    margin: 15px 0;
    text-align: left;
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.34);
  }
}