.header {
  height: 60px;
  width: 100%;
  background: lightgrey;
  box-sizing: border-box;
  padding: 0 20px;

  img {
    margin: 0 20px;
  }
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMain {
  display: flex;
  align-items: center;
}
