* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.grid {
	background-color: #503d3d;
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: repeat(4, 1fr); */
	/* grid-template: repeat(2, 300px) repeat(4, 1fr); */
	/* column-gap: 50px;
	row-gap: 30px; */
	/* gap: 30px 50px; */
	/* grid-template-areas: 'head head head'; */
}
.grid-item {
	/* height: 200px;
	width: 100px; */
	color: white;
	background-color: gray;
	margin: 2px;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid;
	border-radius: 10px;
}
/* .grid-item:first-child {
	grid-column-start: 1;
	grid-column-end: 3;
} */
.grid-item:nth-child(2) {
	/* grid-column-start: 1;
	grid-column-end: 4; */
	/* grid-column: 1/4; */
	/* grid-row-start: 1;
	grid-row-end: 3; */
	/* grid-row: 1/3;
	grid-template-areas: 1/3 1/4; */
	/* grid-area: nav; */
} /* 
.grid-item:nth-child(3) {
	grid-area: main;
}
.grid-item:nth-child(4) {
	grid-area: menu;
}
.grid-item:last-child {
	grid-area: footer;
} */