body {
  font-family: sans-serif;
}
.ticket {
  margin: 100px auto;
  width: 1000px;
  background-color: #f3f1c9;
}
.ticket-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
  grid-template-areas:
    "title title title title title"
    "pass pass pass pass platform"
    "dep dep arr arr platform"
    "date time car seat platform";
}

.ticket-input-title {
  padding: 15px;
  text-align: center;
  grid-area: title;
  font-size: 36px;
  font-weight: bold;
  background-color: black;
  color: #f3f1c9;
  border: 1px solid black;
}
.ticket-input-passenger {
  padding: 15px;
  grid-area: pass;
  border: 1px solid black;
}
.ticket-input-depart {
  padding: 15px;
  grid-area: dep;
  border: 1px solid black;
}
.ticket-input-arrive {
  padding: 15px;
  grid-area: arr;
  border: 1px solid black;
}
.ticket-input-date {
  padding: 15px;
  grid-area: date;
  border: 1px solid black;
}
.ticket-input-time {
  padding: 15px;
  grid-area: time;
  border: 1px solid black;
}
.ticket-input-car {
  padding: 15px;
  grid-area: car;
  border: 1px solid black;
}
.ticket-input-seat {
  padding: 15px;
  grid-area: seat;
  border: 1px solid black;
}
.ticket-input-platform {
  padding: 30px;
  grid-area: platform;
  border: 1px solid black;
}
.ticket-input-barcode {
    padding: 30px;
}
