* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 24px;
    font-family: sans-serif;
}

.card {
    width: calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
}

p {
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
}
