body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;

  font-size: 18px;
}
.navbar {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.nav-list {
  padding-left: 0;
  text-align: center;
  margin-bottom: 22px;
}

.nav-item {
  display: inline-block;
}


.nav-item > a {
  margin-left: 1.75em;
  margin-right: 1.75em;
  padding: 0.75em 0.75em;

  color: red;
  text-decoration: none;
}

.nav-item > a:hover {

  color: #fff;
  background-color: #ff0000;
  text-decoration: none;
  transition: all 0.25s ease 0s;
}

.picture {
  width: 100%;
}

.article {
  max-width: 1145px;
  margin: 0 auto;
}

.article-title {
  margin: 0 auto;
  padding-top: 2.24em;
  padding-bottom: 1.22em;
  font-size: 1.223em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

.article-paragraph {
  font-size: 0.889em;
  letter-spacing: 0.15em;
  line-height: 1.625em;
  text-align: center;
}

.btn {
  text-align: center;
}

.btn-article {
  margin-top: 3.67em;
  padding: 1.555em 3.6em;

  display: inline-block;
  vertical-align: middle;

  font-size: 0.675em;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  background-color: red;
}

.btn-article:hover {
  box-shadow: 0 0 5px 2px;
  background-color: green;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

  transition: all 0.25s ease 0s;
}

.footer {
  max-width: 1145px;
  margin: 0 auto;
}

.footer-text {
  margin-top: 5em;
  font-weight: bold;
  line-height: 1.25em;
  letter-spacing: 0.15em;
  text-align: right;
}
